*{
margin: 0;
padding: 0;
/* Mantener el tamaño de la caja
 a pesar que se agrega texto y se le añade el padding con la propiedad border box */
 /* box-sizing:content esta propiedad es por defecto cuando renderiza una web */
box-sizing: border-box;
}


body{
    font-family: 'Open Sans', sans serif;
}

/*cabecera*/

header{
    background:#fcfff5;
    height: 200px;
    width: 100%;
}

.contenedor{ 
   
    width: 100%;
    /* max width maximo de margen del contenedor al 100% */
    max-width: 1170px;
    /*margin auto para centrar el margen*/
    margin: auto;
}

/* logo */

.logo{
  
    padding: 22px 0px;
}
.logo img{
    height: 96px;
    /* utilizo para centrar display bloc convertirlo en un bloque xk
    la imagen es un elemento de linea */
    display: block;
    margin: auto;
}

.menu{
    /* utilizamos la propiedad display flex para ser flexible el menu */
    display: flex;
    /* utilzamos flex direction para mantener en file el menu */
    flex-direction: row;
    /* utilizamos flex-wrap para cuando tengamos muchos menu este se baje hacia abajo automaticamente */
    flex-wrap: wrap;
    /* utilizamos justify content para centrar y la propiedad space beetwen para separar los texto del menu dar espacio */
    justify-content: space-between;

    max-width: 370px;
    margin: auto;

}

.menu a{
    text-decoration: none;
    color: #7a7a7a;
    text-transform: uppercase;
    font-size: 14px;
}

.menu a:hover{
    color: #a4281f
}

/* fin de la cabecera */


/* Banner */

.banner{
    height: 350px;
    width: 100%;
    background-image: url("../img/banner-portada.png");
    /* background-position: center sirve para centrar la imagen */
    background-position: center;
    /* background-size:cover si en caso la pantalla viene a ser mas grande que la imagen: la imagen se repetiria para evitar eso */
    background-size: cover;
   
}

/* añadir color transparente al banner */
.banner > div{
    /* le pongo width para que ocupe todo el ancho del color
    y heigth 100% aunq puede ser tbm 500 px pero le pongo 100% ya que si modifico el padre este se cambia automaticamente */
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0,0.47);
}

.llamada-accion{

text-align: center;
/* ocupamos el heigth al 100% xk tenemos definido la altura en el contenedor padre q es de 500px; */

display: flex;

/* flex flow utilizamos la propiedad columna para centrar verticalmente y wrap para decirle que si tenemos mas contenido
se ponga uno debajo del otro */
flex-flow: column wrap;
/* cuando pusimos flex-flow ahora si podemos manipular para centrarlo*/
justify-content: center;
align-items: center;
height: 100%;
}

.llamada-accion p {

    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 20px;
    }
    
    .llamada-accion h2{
        background: rgba(255, 255, 255, 0.3);
        color: #fff;
        text-transform: uppercase;
        padding: 45px 0px;
        font-size: 40px;
        max-width: 470px;
        width: 100%;
        
       
    }
    
    
    .llamada-accion a{
        background: rgba(0, 0, 0,0.47);
        text-decoration: none;
        color: white;

      padding: 10px 50px;
       margin-top: 35px;
        font-size: 18px;
        transition: all 0.3s ease-in-out;
        }

     .llamada-accion a:hover{
         background: rgba(0, 0, 0, 0.8);
     }   
.bienvenida{
    margin-top: 1px;
    width: 100%;
    background-color: #5c507c;
    text-align: center;
    /* font-size: 'Lobster Two', cursive; */
}
  


.bienvenida  h3{
    padding-top: 40px;
    padding-bottom:30px;
    color: #fff;  
    font-size: 16px;
    text-transform: uppercase;

}

.bienvenida p {
    font-size: 16px;
    color: #fff;
    padding-bottom: 35px;
     max-width: 370px;
   /* tambien podemos declarar margin: auto la diferencia esk le ponemos 0 que es de arriba hacia abajo 
    y auto es de izquiera a derecha */
    margin:0 auto;
    
}



.nosotros{
  padding-bottom: 80px;
}

.nosotros > .contenedor{
display: flex;
flex-flow: row wrap;
justify-content: center;
}

.foto-equipo{
    
    max-width: 370px;
    
    
}


.foto-equipo img{
    height: 360px;
    
}




/* declaro otro .foto-equipo img por que es el hijo
de foto equipo y va ser responsiva ya q ocupa el 100% de su padre
si la imagen mide 570 px la imagen va estar proporcional al width del 100% de .foto-equipo
y cuando llego al max-width de 570 px ahi se detiene; */
.foto-equipo img{
width: 100%;
}

.conocenos{
   
  
   padding: 15px 0px;
   text-align: center;
   max-width: 570px;
}

/* .conocenos p:nth-child(1){
    font-size:18px;
    color:#3c1c22;
  
    border-bottom: 1px solid #a2a2a2;
    padding-bottom: 20px;
} */

.conocenos h3{
    
    color: #0e96dd;
    border-bottom: 1px solid #a2a2a2;
    /* padding-top: 25px; */
    padding-bottom: 35px;

}

.conocenos p:nth-child(2){
    color: #3c1c22;
    padding-top: 25px;
    font-size:14px;
    padding-bottom: 20px;
}
.conocenos a{
    font-size: 15px;
    color:#0e96dd;
}


/*seccion nuestros proyectos */

.portfolio .proyecto{
background: #F9F9F9;
height: 180px;
text-align: center;
}

.proyecto h2{
    padding-top: 42px;
    color:#333;
    font-size:28px;
    text-transform: uppercase;
    text-align:center;
    padding-bottom:30px;

}

.proyecto .linea{
    border: 1px solid #444;
    width: 46px;
    margin: 0 auto;
}


.portfolio-container{
    
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

    /* background: red; */
}

.portfolio-item{
 
    margin: 0 auto;
    /* background: blue; */
}

.portfolio-item img{
  
   height: 338px;
 
    /* background: blue; */
}




/* mediaqueries */
/* aqui digo que cuando tenga una pantalla minima de 769px que agregue
un espacio de padding de 80px */
@media all and (min-width:769px){
    .banner{
        height: 500px;
        width: 100%;
        background-image: url("../img/banner-portada.png");
        /* background-position: center sirve para centrar la imagen */
        background-position: center;
        /* background-size:cover si en caso la pantalla viene a ser mas grande que la imagen: la imagen se repetiria para evitar eso */
        background-size: cover;
       
    }
 
    .nosotros{
     padding-top: 80px;
 }

 .conocenos{

     padding-left: 30px;
     text-align: left;
 }
 .center-footer .contenedor{

    display: flex;
    flex-flow: row wrap;
   
   }

   .icon-social{
       display: flex;
       flex-flow: row wrap;
       
   }

   .icon-social a{
    margin-left: 20px;
    
}

   .icon-social p{
    display:none
    
}

 
}


/* formulario de contacto*/

.row {
    @include clearfix;
    margin: -20px 0;
    .col {
       padding: 0 20px;
       float: left;
       box-sizing: border-box;
       &.x-50 {
          width: 50%;
       }
       &.x-100 {
          width: 100%;
       }
    }
 }
 
 .content-wrapper {
    min-height: 100%;
    position: relative;
 }
 



.top-footer{
    background:#193441;
    height: 25px;
}

.center-footer{
    background: #152d37;
}


.center-footer .widget{
    color:#7a7a7a;
   
    padding-top:18px;
    padding-bottom: 37px;
    text-align: center;
    max-width: 270px;
    margin: 0 auto;
}





.center-footer .widget h4{
    padding-bottom: 34px;
    font-size: 18px;
}

.center-footer .widget p{

    font-size: 14px;
}



.btn-facebook{
    margin-top: 12px;
}

.btn-instagram{
    margin-top: 12px;

}

.btn-youtube{
    margin-top: 12px ;
   
}

.bottom-footer{
background:#193441;
height: 26px;
}

.bottom-footer p{
    color: #7a7a7a;
    font-size: 12px;
    text-align: center;
}

/*formulario de contacto*/




.row {
  margin: -20px 0;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.row .col {
  padding: 0 20px;
  float: left;
  box-sizing: border-box;
}
.row .col.x-50 {
  width: 50%;
}
.row .col.x-100 {
  width: 100%;
}

.content-wrapper {
  min-height: 100%;
  position: relative;
}

.get-in-touch {
  max-width: 650px;
  height: 420px;
  margin: 0 auto;
}
.get-in-touch .title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 30px;
  padding-top: 48px;
  padding-bottom: 48px;
}

.contact-form .form-field {
    position: relative;
    margin: 32px 0;
  }
.contact-form .input-text {

  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: #000;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}
/*borrar borde sombreado de input */
.contact-form .input-text:focus {
  outline: none;
}
.contact-form .input-text:focus + .label, .contact-form .input-text.not-empty + .label {
  -webkit-transform: translateY(-24px);
          transform: translateY(-24px);
}
.contact-form .label {
  position: absolute;
  left: 20px;
  bottom: 11px;
  font-size: 16px;
  line-height: 45px;
  font-weight: 400;
  color: #888;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.contact-form .submit-btn {

  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  margin: 0 35%;
}


